:root {
  --body-text: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text);
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
input,
button {
  font-family: inherit;
  font-size: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-left: 30px;
  padding-right: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
/* HEADER*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header__container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.header__menu {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 800;
  text-decoration: none;
  color: var(--iris);
  margin-right: 76px;
}
.logo span {
  color: var(--navy-blue);
}

.menu__list {
  color: var(--navy-blue);
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 40px;
}
.menu__list-item {
  /* padding: 24px 0px; */
  display: flex;
}

.menu__list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  color: var(--ocean);
}

.menu__list-link:hover,
.menu__list-link:focus {
  color: var(--ocean);
}
.menu__list-link {
  padding: 24px 0px;
  letter-spacing: 0.02em;
}

.address-link {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
.address__list {
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

/*Banner*/
.banner {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navy-blue);
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.banner__container {
  text-align: center;
}

.main__title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.main__btn {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main__btn:hover,
.main__btn:focus {
  background-color: var(--ocean);
}
/* benefits*/
.benefits {
  padding: 120px 0;
}
.benefits__container {
}
.benefits__list {
  display: flex;
  gap: 24px;
}

.benefits__list-item {
  min-width: 264px;
  width: calc((100% - 72px) / 4);
}
.benefits__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
}
.benefits__item-title {
  margin-bottom: 8px;
}
.benefits__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.benefits__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.benefits__item-text {
  letter-spacing: 0.02em;
}

/*Services*/
.services {
  padding-bottom: 120px;
}

.services__list {
  display: flex;
  gap: 24px;
}
.services__list-item {
  width: calc((100% - 48px) / 3);
}

/*TEAM*/
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.team__container {
}

.team__list {
  display: flex;
  gap: 24px;
}
.team__list-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team__item-box {
  padding: 32px 0;
  text-align: center;
}
.team__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.team__item-text {
  letter-spacing: 0.02em;
}
.team__item-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team__item-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 12px;
}
.team__item-social-svg {
  fill: currentColor;
}
.team__item-social-link:hover,
.team__item-social-link:focus {
  background-color: var(--ocean);
}
/* FILTERS */
.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.filters__item {
  text-align: center;
}

.filters__btn {
  padding: 12px 24px;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  color: var(--iris);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover,
.filters__btn:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* CARDS */
.cards {
  padding: 96px 0 120px 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.cards__item {
  width: calc((100% - 48px) / 3);
}

.cards__item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__item-link:hover,
.cards__item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards__item-link:hover .cards__item-overlay-text,
.cards__item-link:focus .cards__item-overlay-text {
  transform: translateY(0%);
}

.cards__item-upbox {
  position: relative;
  overflow: hidden;
}

.cards__item-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:hover .cards__item-overlay,
.cards__item:focus .cards__item-overlay {
  transform: translateY(0%);
}

.cards__item-box {
  text-align: left;
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
}
.cards__item-title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.cards__item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
/* CUSTOMERS */
.customers {
  padding: 120px 0;
}
.customers__title {
}
.customers__list {
  display: flex;
  gap: 24px;
}
.customers__item {
  width: calc((100% - 120px) / 6);
}
.customers__item-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item-svg {
  fill: currentColor;
}
.customers__item-box:hover,
.customers__item-box:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/*Footer*/
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer > p {
  color: var(--cloud);
}

.footer__container {
  display: flex;

  align-items: baseline;
}
.footer__left {
  margin-right: 120px;
}
.footer__right {
  margin-right: 80px;
}
.footer__text {
  letter-spacing: 0.02em;
  max-width: 264px;
  color: var(--cloud);
}
.footer .logo span {
  color: var(--cloud);
}
.footer__logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer__social-title {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer__social-list {
  display: flex;
  gap: 16px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--iris);
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-svg {
  fill: currentColor;
}
.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--green);
}

.footer__form-title {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__form-input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  background-color: transparent;

  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.footer__form-input::placeholder {
  color: #fff;
}
.footer__form-btn {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
  background-color: var(--iris);
  color: #fff;
  padding: 8px 24px;
  border: none;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.footer__form-icon {
  fill: currentColor;
  margin-left: 16px;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;
  margin: 0 auto;
  margin-top: 80px;

  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;
  right: 24px;
  top: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.modal-btn-svg {
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-svg,
.modal-btn:focus .modal-btn-svg {
  fill: #ffffff;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__form-title {
  text-align: center;

  margin-bottom: 16px;

  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}
.modal__form-box {
  margin-bottom: 8px;
}
.modal__form-box:nth-child(4) {
  margin-bottom: 16px;
}
.modal__form-label {
  margin-bottom: 4px;
  display: block;
}
.modal__form-label,
.modal__form-checkbox-label {
  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
}
.modal__form-input {
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  padding: 11px 38px;
  height: 40px;
  position: relative;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  width: 360px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input:focus-within {
  border-color: var(--iris);
}
.modal__form-input:focus-within + .modal__form-icon-input {
  fill: var(--iris);
}
.modal__form-input-box {
  position: relative;
}
.modal__form-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-textarea {
  resize: none;
  width: 100%;
  max-width: 360px;
  min-height: 120px;
  flex-shrink: 0;

  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.04em;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-textarea:focus-within {
  border-color: var(--iris);
}
.modal__form-cb-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 24px;
}
.modal__form-checkbox {
}
.modal__form-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal__form-checkbox:checked + .modal__form-checkbox-label > .label-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.modal__form-link {
  color: var(--iris);
}

.modal__form-btn {
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger-open,
.hamburger {
  display: none;
}
.hamburger-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.hamburger-icon {
  stroke: #111;
}
/* Mobile MEnu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 284px;
}
.mobile__link {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--body-text);
}
.mobile__link:active {
  color: var(--ocean);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.mobile__address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile__address-tel {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile__address-mail {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.mobile__social-list {
  display: flex;
  gap: 56px;
}
.mobile__social-link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mobile__social-icon {
  fill: currentColor;
}
.mobile-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;
  right: 24px;
  top: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-svg {
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 1158px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 429px) {
  .hamburger-open {
    display: block;
  }

  .menu__list,
  .address {
    display: none;
  }

  .header__menu {
    padding: 24px 0 22px 0;
  }
  /* BANNER */
  .banner {
    padding: 112px 0;
  }
  .main__title {
    font-size: 36px;
    line-height: 1.11em;
    max-width: 320px;
  }

  /* BENEFITS */
  .benefits {
    padding: 96px 0;
  }
  .benefits__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
  .benefits__list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefits__item-box {
    display: none;
  }
  .benefits__item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em; /* 111.111% */
  }
  .benefits__item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
  }
  /* SERVICES */
  .services {
    display: none;
  }
  /* TEAM */
  .team {
    padding: 96px 0;
  }
  .team__list {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .team__list-item {
    width: 264px;
  }
  .team__item-text {
    margin-bottom: 8px;
  }
  /* CUSTOMERS */
  .customers {
    padding: 96px 0;
  }
  .customers__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
  }
  .customers__item {
    width: calc((100% - 16px) / 2);
  }
  /* FOOTER */
  .footer {
    padding: 96px 0;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__left {
    margin-right: 0;
    margin-bottom: 72px;
  }
  .footer__right {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
  }
  .footer__form-wrapper {
    text-align: center;
    width: 100%;
  }
  .footer__form {
    display: block;
  }
  .footer__form-input {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__form-btn {
    margin: 0 auto;
    max-width: 165px;
  }
  .footer__form-icon {
    margin-left: 0;
  }
}

@media screen and (min-width: 428px) and (max-width: 769px) {
  .logo {
    margin-right: 120px;
  }
  .address__list {
    gap: 12px;
    flex-direction: column;
  }
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
  .benefits__list {
    flex-wrap: wrap;
  }
  .benefits__list-item {
    min-width: 356px;
  }
  .benefits__item-box {
    display: none;
  }
  .benefits__item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
  }
  .services {
    display: none;
  }
  .team__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .customers__list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
  }
  .customers__item {
    width: calc((100% - 48px) / 3);
  }
  .footer__container {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-container {
    display: none;
  }
}
